/Users/liangzhou/Documents/neural_network/Deep_Learning_A_Z/venv
/Users/liangzhou/Documents/neural_network/Deep_Learning_A_Z/venv/lib/python3.6/site-packages/tensorflow/python/_pywrap_tensorflow_internal.so
/Users/liangzhou/Documents/neural_network/Deep_Learning_A_Z/A4/mnist.pkl
